/* ========== Common ========== */
:root {
  --color-heading: #0d1111;
  --padding-header: 12px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;

  /* Optimize */
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased; /*only macOS*/
  -moz-osx-font-smoothing: grayscale; /*only macOS*/
}

.content {
  width: 1170px;
  height: 100%;
  max-width: calc(100vw - 48px);
  margin: 0 auto;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* ========== Header ========== */
.header {
  padding: 52px 0px var(--padding-header);
  background: #fff;
}

.header--sticky {
  position: sticky;
  top: calc((52px - var(--padding-header)) * (-1));
  z-index: 1;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 127px;
  height: 37px;
}

.header__control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
}

.nav__item a {
  padding: 8px 19.5px; /* gap: 39px; */
  color: #2f3a3b;
  font-size: 1.6rem;
  line-height: normal;
}

.nav__item a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.header__auth {
  margin-left: 117px;
  display: flex;
}

.header__btn {
  min-width: 108px;
  padding: 0 23px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 46px; /*48px trừ đi boder*/
}

.header__btn--sign-in {
  color: #494949;
  font-weight: 400;
}

.header__btn--sign-in:hover {
  color: #1ebfc1;
}

.header__btn--sign-up {
  border: solid 1px #1ebfc1;
  border-radius: 6px;
  color: #1ebfc1;
  font-weight: 600;
  background: transparent;
}

.header__btn--sign-up:hover {
  color: #fff;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

/* ========== Hero ========== */
.hero {
  height: calc(100vh - 100px - var(--padding-header)); /*header height*/
  padding: calc(50px - var(--padding-header)) 0 79px;
}

.hero .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content {
  width: 458px;
}

.hero__sub-title {
  color: #767e7e;
  font-size: 1.4rem;
  line-height: 1.5;
}

.hero__heading {
  margin-top: 18px;
  color: var(--color-heading);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
}

.hero__desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
  word-break: break-word;
}

.hero__action {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero__cta {
  display: inline-block;
  min-width: 186px;
  padding: 0 41px;
  border-radius: 14px;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 68px;
}

.hero__cta:hover {
  opacity: 0.9;
}

.hero__play {
  display: inline-block;
  padding: auto;
  width: 62px;
  height: 62px;
  border: solid 1px transparent;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: #1ebfc1;
}

.hero__play:hover {
  background: #86f8ed;
  color: #fff;
}

.hero__figure {
  width: 48%;
  height: 100%;
  max-width: 631px;
  position: relative;
}

.hero__img {
  display: block;
  width: 100%;
  height: 100%;
  background: #e0f7f6;
  object-fit: cover;
}

.hero__card {
  position: absolute;
}

.hero__course {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 157px;
  top: 149px;
  left: -40px;
  padding: 17px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__card__icon--course {
  position: relative;
}

.hero__card__icon--course img:last-child {
  position: absolute;
  bottom: 8px;
  left: 4px;
}

.hero__card__label {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

.hero__course__label {
  width: 55px;
}

.hero__schedule {
  width: 124px;
  bottom: 46px;
  left: -65px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__schedule__label {
  margin-bottom: 16px;
  text-align: center;
}

.hero__card__icon--schedule {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.hero__card__icon--schedule div:last-child {
  margin-top: 6px;
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero__student {
  width: 207px;
  bottom: 41px;
  right: 45px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero__card__icon--student {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.hero__avatar {
  width: 33px;
  height: 33px;
  margin-left: -7px;
  flex-shrink: 0;
  border-radius: 50%;
  object-fit: cover;
}

.hero__avatar:first-child {
  margin-left: 0px;
}

.hero__avatar--default {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

/* ========== Feature ========== */
.feature {
  padding: 130px 0 65px;
}

.feature__sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.feature__heading {
  width: 577px;
  margin-top: 18px;
  color: var(--color-heading);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33; /* 133.333% */
}

.feature__desc {
  width: 590px;
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.5;
}

.feature__list {
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  gap: 50px 200px;
  flex-wrap: wrap;
}

.feature__item {
  width: 224px;
  flex-shrink: 0;
}

.feature__item__img {
  width: 102px;
  height: 106px;
}

.feature__item__name {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 1);
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 26px;
  color: var(--color-heading);
  font-size: 2rem;
  font-weight: 600;
}

.feature__item__desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.68; /* 168.75% */
}

/* ========== Popular ========== */
.popular {
  padding: 65px 0;
}

.popular__sub-title {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.popular__heading {
  margin-top: 18px;
  color: var(--color-heading);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.popular__row {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__desc {
  width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78; /* 177.778% */
}

.course-list__view-all {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.course-list__view-all:hover {
  text-shadow: 1px 1px 1px rgba(30, 191, 193, 1);
}

.course-list {
  margin-top: 79px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 47px;
  flex-wrap: wrap;
}

.course-item {
  position: relative;
  max-width: 359px;
  min-width: 240px;
  flex: 1;
}

.course-item__img {
  width: 100%;
  height: 393px;
  border-radius: 8px;
  opacity: 1;
  background: #d0efed;
  object-fit: cover;
}

.course-item__info {
  position: relative;
  width: 90.5%;
  padding: 18px 25px 29px;
  margin: -71px auto 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
  z-index: 0.1;
}

.course-item__name {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 2);
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.course-item__name,
.course-item__fee-value {
  color: var(--color-heading);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.course-item__fee {
  display: inline-block;
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: 1.5;
}

.course-item__desc {
  display: -webkit-box;
  line-clamp: var(--line-clamp, 2);
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: 1.5;
}

.course-meta {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: 1.5;
}

.course-meta__item {
  display: flex;
  align-items: center;
}

.course-meta__item::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  border-radius: 50%;
  background: #1ebfc1;
}

/* ========== Stats ========== */
.stats {
  padding: 200px 0;
}

.stats .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.stats__value {
  color: var(--color-heading);
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.stats__label {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.5;
}

/* ========== Testimonial ========== */
.testimonial {
  padding: 65px 0;
}

.testimonial .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  row-gap: 100px;
}

.testimonial__content {
  margin-top: 37px;
}

.testimonial__quote {
  width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5; /* 150% */
}

.testimonial__author {
  margin-top: 33px;
}

.testimonial__author__name {
  color: #070707;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}

.testimonial__author__name::after {
  content: ", ";
}

.testimonial__author__name::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 2px;
  margin-right: 5px;
  top: 0.75px;
  flex-shrink: 0;
  background: currentColor;
  line-height: 1.5;
  vertical-align: middle;
}

.testimonial__author__profession::after {
  content: ".";
}

.testimonial__author__profession {
  color: #767e7e;
  font-size: 1.6rem;
  line-height: 1.5;
}

.testimonial__control-wrap {
  margin-top: 52px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.testimonial__control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: #2ac9bf;
  cursor: pointer;
}

.testimonial__control:hover {
  opacity: 0.9;
}

.testimonial__avatar-group {
  position: relative;
  width: 58%;
  height: 481px;
}

.testimonial__avatar-wrap {
  border-radius: 50%;
  position: absolute;
}

.testimonial__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial__avatar-wrap--lv1 {
  width: 235px;
  height: 235px;
  top: 107px;
  right: 171px;
}

.testimonial__avatar-wrap--lv2 {
  width: 110px;
  height: 110px;
  top: 19px;
  right: 0px;
}

.testimonial__avatar-wrap--lv3 {
  width: 92px;
  height: 92px;
  top: 0px;
  right: 443px;
}

.testimonial__avatar-wrap--lv4 {
  width: 78px;
  height: 78px;
}

#avatar-4 {
  bottom: 145px;
  right: 601px;
}

#avatar-5 {
  bottom: 0px;
  right: 389px;
}

#avatar-6 {
  bottom: 29px;
  right: 32px;
}

/* ========== CTA ========== */
.cta {
  margin: 65px 0;
  padding: 76px 0 88px;
  background: #def6f5;
}

.cta .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__heading {
  color: var(--color-heading);
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.cta__desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.5;
}

.cta__btn-wrap {
  width: 29%;
}

.cta__btn {
  display: inline-block;
  min-width: 168px;
  padding: 0 41px;
  margin-right: auto;
  border-radius: 14px;
  background: #2ac9bf;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 68px;
}

.cta__btn:hover {
  opacity: 0.9;
}

/* ========== Footer ========== */
.footer {
  padding: 65px 0 50px;
  background: #fff;
}

.footer__row {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  width: 127px;
  height: 37px;
}

.footer__heading {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
}

.footer__list {
  margin-top: 25px;
}

.footer__link {
  display: inline-block;
  margin-top: 20px;
  color: #535353;
  font-size: 1.6rem;
  line-height: 1.5;
}

.footer__link:last-child {
  display: flex;
  align-items: center;
}

.footer__link img {
  width: 20px;
  height: 20px;
  margin-right: 9px;
}

.copyright {
  margin-top: 80px;
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
}
